html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Admin Login - BOOK ORBIT
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    
    link(rel="stylesheet", href="/css/styles.css")
  body
    .background
    .signup-container
      h1 Welcome Back

      // Login Form
      form#login-form
        .form-group
          label(for="username")
            i.fas.fa-user
            span Username
          input(type="text" id="username" name="username" placeholder="Enter your username" required)
          span.error-message Required
        .form-group
          label(for="password")
            i.fas.fa-lock
            span Password
          .password-input-container
            input(type="password" id="password" name="password" placeholder="Enter password" required minlength="8")
            button.toggle-password(type="button" tabindex="-1")
              i.fas.fa-eye
          span.error-message Required
          a.forgot-password(href="/forgot-password") Forgot Password?

        button(type="submit")
          span Log In
          i.fas.fa-sign-in-alt

    // Success Popup
    #success-popup.popup
      .popup-content
        .success
          i.fas.fa-check-circle.success-icon
          h5 Welcome Back!
          p Login successful! Redirecting to your dashboard...
          .popup-buttons
            button#close-popup
              i.fas.fa-times
              span Close

    script(src="/js/admin-login.js")