html
  head 
    title Cover Page
    link(rel='stylesheet', href='/css/cover.css')
 
  body  
    .cover-container
      .container-text
        p Book Orbit
        .button 
          button.create-account(onclick="window.location.href='/create-account'") Create Account
      .container-image 
        img(src="/images/read.png", alt="Reading Image")
    script(src="https://cdn.tailwindcss.com")